@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
/* https://dribbble.com/shots/17358553-Sportly-Running-Record-Stats-Activity-Log-and-Challenge */
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  letter-spacing: 0.5px;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

html,
body {
  height: 100%;
}

body {
  background-color: #1e0913;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  height: 100%;
}

.dark-link {
  text-align: right;
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #6e2044;
  transition: color 0.3s ease;
}
.dark-link:hover {
  color: #8d2958;
}

.wrapper-inner-page {
  padding: 40px 30px;
  text-align: center;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.error {
  color: #8d2b3d;
  font-size: 1rem;
}

.select2-selection__control {
  cursor: pointer !important;
  margin-bottom: 2rem;
  border-radius: 10px !important;
  min-height: 48px !important;
  background-color: #6e2044 !important;
  border: 1px solid transparent !important;
  color: #f1e8e8;
  font-size: 18px;
  width: 100%;
}
.select2-selection__control--is-focused {
  border-color: transparent !important;
  box-shadow: 0 0 0 1px rgba(181, 52, 113, 0.3) !important;
}
.select2-selection__menu {
  background-color: #6e2044 !important;
  border-radius: 10px !important;
}
.select2-selection__menu-list {
  padding: 0 !important;
  border-radius: 10px !important;
}
.select2-selection__menu-notice {
  color: #946e86 !important;
}
.select2-selection__option--is-focused {
  background-color: #521833 !important;
}
.select2-selection__option--is-selected {
  background-color: #4e1631 !important;
}
.select2-selection__indicator, .select2-selection__indicator:hover {
  color: #f1e8e8 !important;
}
.select2-selection__placeholder {
  color: #946e86 !important;
  margin-left: 6px !important;
  text-align: left;
}
.select2-selection__single-value {
  color: #f1e8e8 !important;
}
.select2-selection__multi-value {
  border-radius: 6px !important;
  background-color: #952b5d !important;
}
.select2-selection__multi-value__label {
  color: #f1e8e8 !important;
}
.select2-selection__multi-value__remove:hover {
  background-color: #8b2557 !important;
  color: #f1e8e8 !important;
}
.select2-selection__input {
  color: #f1e8e8 !important;
}

/*# sourceMappingURL=main.css.map */
